* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: $body-color;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $header-color;
    z-index: 999;
}