.dropdown_icon {
    font-size: 1.2rem;
}

.menu_icon {
    width: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: $icon-background;
    color: $font-color;
    margin-right: 0.5rem;
}