.menu_icon {
    width: 22px;
    height: 32px;
    color: $font-color;
    margin-right: 0.8rem;
    align-self: self-start;

    i {
        line-height: 32px;
        font-size: 22px;
    }
}

.toggle_menu,
.close_menu {
    display: block;
    font-size: 2rem;

    @media (min-width: 769px) {
        display: none;
    }
}

.toggle_menu {
    width: 32px;
    height: 32px;
}

.close_menu {
    margin: 1rem 1rem 1rem auto;
    padding-top: 7px;
    width: 32px;
    height: 32px;
}