.menu_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: $icon-background;
    color: $font-color;
    margin-right: 0.5rem;

    i {
        line-height: 32px;
        font-size: 22px;
    }
}
