nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1400px;
    z-index: 999;

    .logo {
        z-index: 1;
        background-color: $header-color;

        a {
            font-size: 1.75rem;
            font-weight: 700;
            color: $font-color;
        }
    }

    .nav_list {

        .nav_item {
            margin: 0 1.5rem;
            padding: 0.8rem 0;

            .megamenu {
                position: absolute;
                width: 100%;
                top: 4rem;
                left: 0;
                background-color: $header-color;
                display: flex;
                justify-content: start;
                border-radius: 0 0 20px 20px;
                box-shadow: 0 23px 23px -21px rgb(0, 0, 0, 0.25);
                z-index: -99;
                visibility: hidden;
                opacity: 0;

                @media screen and (max-width: 993px) {
                    justify-content: start;
                    flex-wrap: wrap;
                }

                @media screen and (max-width: 769px) {
                    flex-direction: column;
                    position: static;
                    box-shadow: none;
                    border-radius: 0;
                    height: 0;
                    max-width: 350px;
                    overflow: hidden;
                    margin-top: 1rem;
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    @media (min-width: 769px) {
                        padding: 1rem 1rem;
                    }

                    .megamenu_item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;

                        .megamenu_link {

                            a {
                                font-weight: 500;
                                color: $font-color;
                                transition: 1s ease-out;
                                font-size: 1rem;
                            }

                            a:hover {
                                color: $nav-hover-color;
                            }

                            p {
                                font-size: 0.6875rem;
                                font-weight: 400;
                                color: $black-25;
                            }
                        }
                    }
                }
            }

            .nav_link {
                font-weight: 500;
                color: $font-color;
                transition: 1s ease-out;
            }

            .nav_link:hover {
                color: $nav-hover-color;
            }

            .dropdown_link {
                display: flex;
                align-items: center;
            }

            @media (min-width: 769px) {
                margin: 0 1.5rem;
                padding: 1.4rem 0;
            }
        }

        .dropdown:hover .megamenu {
            visibility: visible;
            transition: all 0.3s ease;
            opacity: 1;

            @media screen and (max-width: 769px) {
                height: 100%;
            }
        }

        @media screen and (max-width: 769px) {
            position: absolute;
            height: 100vh;
            width: 100%;
            left: -100%;
            max-width: 350px;
            top: 0;
            background-color: $header-color;
            overflow-x: hidden;
            display: block;
            transition: 0.3s;
        }

        @media (min-width: 769px) {
            display: flex;
        }
    }

    .show_menu {
        left: 0;
    }
}