nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 4.5rem;
    padding: 0 1rem;
    margin: 0 auto;
    z-index: 999;

    .nav_list {
        display: flex;

        .nav_item {
            margin: 0 1.5rem;
            padding: 1.4rem 0;

            .nav_link {
                font-weight: 500;
                color: #544756;
            }

            .nav_link:hover {
                color: #a92ec8;
            }
        }
    }

    .toggle_menu, .close_menu {
        display: none;
    }
}