nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 4.5rem;
    padding: 0 1rem;
    margin: 0 auto;
    z-index: 999;

    .logo {

        a {
            font-size: 1.75rem;
            font-weight: 700;
            color: $font-color;
        }
    }

    .nav_list {
        display: flex;

        .nav_item {
            margin: 0 1.5rem;
            padding: 1.4rem 0;

            .megamenu {
                position: absolute;
                width: 100%;
                top: 4rem;
                left: 0;
                background-color: $header-color;
                display: flex;
                justify-content: center;
                border-radius: 0 0 20px 20px;
                box-shadow: 0 23px 23px -21px rgb(0, 0, 0, 0.25);
                z-index: -99;
                /* visibility: hidden; */
                /* opacity: 0; */

                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 1rem;

                    .megamenu_item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                    }

                    .header_megamenu {
                        font-weight: 600;
                        color: $black-25;
                        margin-bottom: 1rem;
                    }
                }
            }

            .nav_link {
                font-weight: 500;
                color: $font-color;
                transition: 1s ease-out;
            }

            .nav_link:hover {
                color: $nav-hover-color;
            }

            .dropdown_link {
                display: flex;
                align-items: center;
            }
        }
    }

    .toggle_menu, .close_menu {
        display: none;
    }
}